@tailwind base;
@tailwind components;
@tailwind utilities;




 /* index */

  .home-row1{

    background-image: url('/assets/bg-vector.png');
    
  }
    
/* ====================================================== */



/* Contact */
.contact{
background-image: url('/assets/bg-contact.png');
background-size: cover;
background-position-y: top;

}
.learning{
  clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
  border:none;
  outline: none;


}
/* =========================================================== */

.product{
  background-image: url('/assets/background-product.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Abbaout */
.about{
  background-image: url('/assets/bg-about.png');
  background-size: 100% 100%;
  }

  .background-about{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
  }
  /* =========================================================== */


@media only screen and (max-width: 1440px) {
  .about{
    background-image: none;
    }
  
  .licensed{

    clip-path: polygon(0% 4%,100% 0%,100% 100%,0% 95%);
  
    } 
}

@media only screen and (max-width: 940px) {
 

  .about{
    background-image: none;
    background-size: 100% 100%;
    }


  .home-row1{

    background-image:none;
    
  }



  .licensed{

    clip-path: polygon(0% 4%,100% 0%,100% 100%,0% 95%);
  

    } 
    
    .background-about{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    }
}


@media only screen and (max-width: 640px) {

  .about{
    background-image: none;
    background-size: 100% 100%;
    }
  .home-row1{

    background-image:none;
    
  }
  .licensed{

    clip-path: polygon(0% 4%,100% 0%,100% 100%,0% 95%);
  

    } 
    
    .background-about{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    }
}